regex==2022.9.13
gensim==4.3.2
Cython==0.29.32
requests~=2.31.0
pandas~=1.5.0
scikit-learn~=1.1.2
sklearn-crfsuite~=0.3.6
tensorflow-addons~=0.23.0
nvidia-cudnn-cu12==8.9.4.25
tensorflow==2.15.0
tqdm~=4.64.1
pytest~=7.1.0
keras~=2.15.0
datasets~=2.5.2
numpy~=1.23.3